* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Wallpaper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.botoes {

    height: 70%;
    width: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.botoes button {

    background-color: transparent;
    padding: 10px;
    font-size: 40px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

#container {

    height: 80%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

#left_page, #right_page {

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #2B0118, #721431);
    border: 5px solid #000000;

}

#espaco_figurinha_01, #espaco_figurinha_02,
#espaco_figurinha_03, #espaco_figurinha_04 {

    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    padding: 15px;

}

.figurinha {

    height: 70%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-size: 101% 101%;
    background-repeat: no-repeat;
    border: 5px solid #FFFFFF;
    padding: 5px;

}

#espaco_figurinha_01 p, #espaco_figurinha_02 p,
#espaco_figurinha_03 p, #espaco_figurinha_04 p {

    margin-top: 3%;
    font-size: 20px;
    color: #FFFF00;
    font-weight: bold;

}

.figurinha h4 {

    color: #FFFF00;

}

.nacionalidade {

    height: 10%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    padding: 15px;

}

#trofeu {

    height: 95%;
    width: 95%;
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background-image: url("../Images/Trophy.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

/*#rows_null a {

    color: #FFFF00;

}

#rows_null a:hover {

    color: #008000;

}

#rows_null a:active {

    color: #0000FF;

}*/